* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    padding: 0px;
    margin: 0px;
    background: antiquewhite;
    font-family: 'Josefin Sans';
}

h1 {
    font-family: 'Ballet', cursive;
    color: rgb(90, 90, 90);
    margin: 5px;
}

h2, h3, h4, h5 {
    font-family: 'josefin sans';
    color: rgb(90, 90, 90);
    margin: 5px;
}



a {
    text-decoration: none;
    color: inherit;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

.btn {
    padding: .5rem 1rem;
    background: deepskyblue;
    color: white;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.btn-big {
    padding: .7rem 1.3rem;
    line-height: 1.3rem;
}
.btn:hover {
    color: white !important;
    background: rgb(0, 73, 199);
}

.text-input {
padding: .7rem 1rem;
display: block;
width: 100%;
border-radius: 5px;
border: 1px solid whitesmoke;
outline: none;
color: grey;
line-height: 1.5rem;
font-size: 1.2em;
font-family: 'Josefin Sans';
}

header {
    background: deepskyblue;
    height: 60px;
}

header * {
    color: white;

}

header .logo {
    float: left;
    height: inherit;
    margin-left: 2em;

}
header .logo-text {
    margin: 9px;
    font-family: 'Ballet' , cursive;
}

header .logo-text span {
    color: rgb(91, 5, 5);
}

header ul {
    float: right;
    margin: 0px;
    padding: 0px;
    list-style: none;
}

header ul li {
    float: left;
    position: relative;
}

header ul li ul {
    position: absolute;
    top: 60px;
    right: 0px;
    width: 180px;
    display: none;
    z-index: 888888;
}

header ul li:hover ul {
display: block;
}

header ul li ul li {
    width: 100%
}

header ul li ul li a {
    padding: 9px;
    color: black;
    background: white;

}

header ul li ul li a:hover {
    background: blue;
}

header ul li ul li a.logout {
    color: red;
}

header ul li ul li a:hover {
    background: gray;
}

header ul li a {
    display: block;
    padding: 22px;
    font-size: 1.0em;
    text-decoration: none;
}

header ul li a:hover {
    background: blue;
    transition: 0.5s;
}

header .menu-toggle {
    display: none;
}

.page-wrapper {
    min-height: 100%;
}
    
.page-wrapper a:hover {
    color: deepskyblue;
}



  /* POST SLIDER */


  .post-slider {
    position: relative;
}

.post-slider .slider-title {
    text-align: center;
    margin: 30px auto;
}

.post-slider .next {
position: absolute;
top: 50%;
right: 30px;
font-style: 4em;
color:rgb(90, 90, 90);
cursor: pointer;
}

.post-slider .prev {
position: absolute;
top: 50%;
left: 30px;
font-style: 4em;
color:rgb(90, 90, 90);
cursor: pointer;
}


.post-slider .post-wrapper {
    width: 84%;
    height: 350px;
    margin: 0px auto;
    overflow: hidden;
    padding: 10px 0px 10px 0px;

}

.post-slider .post-wrapper .post {
    width: 300px;
    height: 330px;
    margin: 0px 10px;
    display: inline-block;
    background: white;
    border-radius: 5px;
    box-shadow: 1rem 1rem 1rem -1rem #a0a0a033; 
}

.post-slider .post-wrapper .post .post-info {
    height: 130px;
    padding: 0px 5px;
    font-size: 1.3em;
}
.post-slider .post-wrapper .post .slider-image {
    width: 100%;
    height: 200px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

/* CONTENT */

.content {
    
    width: 90%;
    margin: 30px auto 30px;
    padding: 10px
}


.content .main-content {
    width: 70%;
    float: left;
}

.content .main-content.FirstArticle {
    background: white;
    padding: 20px 50px;
    font-size: 1.1em;
    border-radius: 5px;
}

.content .main-content.FirstArticle .post-title {
    background: white;
    text-align: center;
    margin-bottom: 40px;
}
.content .main-content.SecondArticle {
    background: white;
    padding: 20px 50px;
    font-size: 4.0em;
    border-radius: 5px;
}

.content .main-content.SecondArticle .post-title {
    text-align: center;
    margin-bottom: 40px;
}

.content .main-content .post {
    width: 95%;
    height: 270px;
    margin: 20px auto;
    border-radius: 5px;
    background: white;
    position: relative;
}

.content .popular .post {
    border-top: 1px solid green;
    margin-top: 10px;
    padding-top :10px;
}

.content .popular .post img {
    height: 60px;
    width: 75px;
    float: left;
    margin-right: 10px;
}

.content .main-content .post .read-more {
    position: absolute;
    bottom: 10px;
    right: 10px;
    border: 1px solid deepskyblue;
    background: transparent;
    border-radius: 0px;
    color: deepskyblue !important;
}

.content .main-content .post .read-more:hover {
    background: rgb(91, 5, 5);
    color: white;
    transition: .25s;
}

.content .main-content .post  .post-image {
    width: 40%;
    height: 100%;
    float: left;
}
.content .main-content .post .post-preview {
    width: 60%;
    padding: 10px;
    float: right;
}

.content .main-content .recent-post-title {
    margin: 20px;
}

.content .sidebar {
    width: 30%;
    float: left;
    height: 300px;
}

.content .sidebar.single {
    padding: 0px 10px;
}

.content .sidebar .section {
    Background: white;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.content .sidebar .section.search {
    margin-top: -910px;
}

.content .sidebar .section.topics ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    border-top: 1px solid gray;
}

.content .sidebar .section.topics ul li a {
    display: block;
    padding: 15px 0px 15px 0px;
    border-bottom: 1px solid gray;
    transition: all 0.3s;
}

.content .sidebar .section.topics ul li a:hover {
    padding-left: 10px;
    transition: all 0.3s;
}

/* FOOTER */

.footer {
    background: darkgray;
    color: white;
    height: 400px;
    position: relative;
}

.footer .footer-content {
    height: 350px; 
    display: flex;
}

.footer .footer-content .footer-section {
    flex: 1;
    padding: 25px;
    border: white;
}

.footer .footer-content h1,
.footer .footer-content h2 {
    color: white;
}

.footer .footer-content .about h1 span {
    color: rgb(91, 5, 5);
}

.footer .footer-content .about .contact span {
    display: block;
    font-size: 1.1em;
    margin-bottom: 8px; 
}

.footer .footer-content .about .socials a {
    border: 1px solid grey;
    width: 45px;
    height: 41px;
    padding-top: 5px;
    margin-right: 5px;
    text-align: center;
    display: inline-block;
    font-size: 1.6em;
    border-radius: 5px; 
}

.footer .footer-content .about .socials a:hover {
    border: 1px solid white;
    color: white; 
    transition: all 0.3s;
}

.footer .footer-content .links ul a {
    display: block;
    margin-bottom: 10px;
    font-size: 1.2em;
}

.footer .footer-content .links ul a:hover {
    color:rgb(91, 5, 5);
    margin-left: 15px;
    transition:  all .3s;
}

.footer .footer-content .contact-form .contact-input {
    background: rgb(35, 35, 35);
    color: antiquewhite;
    margin-bottom: 10px;
    line-height: 1.5rem;
    padding: .9rem 1.4rem;
    border: none;
}
.footer .footer-content .contact-form .contact-input:focus {
    background: rgb(29, 29, 29)
}

.footer .footer-content .contact-form .contact-btn {
    float: right;
    font-size: 1.1em;
    font-family: 'Josefin Sans';
}

.footer .footer-bottom {
    background: darkred;
    color: whitesmoke;
    height: 50px;
    width: 100%; 
    text-align: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding-top: 20px;
}

/* MEDIA QUERIES */

    @media only screen and (max-width: 750px) {

        header {
            position: relative;
        }
header ul {
    width: 100%;
    background: lightskyblue;
    max-height: 0px;
    overflow: hidden;
}

.showing {
    max-height: 100em;
}
header ul li {
    width: 100%;
}
header ul li ul {
    position: static;
    display: block;
    width: 100%;
}
header ul li ul li a {
    padding: 9px;
    color: white;
    background: lightskyblue;
    padding-left: 50px;
}

header ul li ul li a.logout {
    color: red;
}

header .menu-toggle {
    display: block;
    position: absolute;
    right: 20px;
    top: 16px;
    font-size: 1.9em;
}
header .logo {
    margin-left: .5em;

}

    }

